<div class="chat-container">
  <div #chatBox class="chat-box">
    <div class="assistant-message-container">
      <p class="ai-name">Jason</p>
      <p class="assistant-message">스타트업 관련해서 물어봐 주세요! 최근 3년 내 스타트업 기업에 관한 통계를 바탕으로 답을 드리겠습니다!</p>
    </div>
  </div>
  <form
    [formGroup]="userInput"
    (ngSubmit)="sendMessage()"
    class="input-container"
  >
    <input
      class="text-input"
      formControlName="textInput"
    />
    <button type="submit" class="submitBtn">SEND</button>
  </form>
</div>


